### Set

#### Sets are used to store multiple items in a single variable.
#### A set is a collection which is unordered, unchangeable*, and unindexed.

#### * Note: Set items are unchangeable, but you can remove items and add new items.

#### Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(type(thisset))

#### Sets cannot have two items with the same value.
#### Duplicate values will be ignored:

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
list(thisset)

#### True and 1 is considered the same value:

In [ ]:

thisset = {"apple", "banana", "cherry", True, 1, 2, False,0}

print(thisset)

#### Get the number of items in a set:

In [ ]:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

#### String, int and boolean data types:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

#### sing the set() constructor to make a set:

In [ ]:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

#### Add Items

In [ ]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

#### Add Sets

In [ ]:
#Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

#### Add Any Iterable

In [ ]:
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

#### Python - Remove Set Items

In [ ]:
#Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
#Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

#### Python - Join Sets

In [ ]:
#You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [ ]:
#Keep ONLY the Duplicates
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

In [ ]:
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

In [ ]:
#Keep All, But NOT the Duplicates
#Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

In [ ]:
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)