## Python Strings

In [ ]:
#Strings in python are surrounded by either single quotation marks,
#or double quotation marks

In [1]:
a = "Hello"
print(a)

Hello

In [2]:
#Multiline Strings
#You can assign a multiline string to a variable by using three quotes:

#Example
#You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [3]:

#You can use three single quotes:

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua

In [4]:
#Check String
#Check if "222" is present in the following text:

txt = '222,3333,555,666'
print('222' in txt)

True

In [5]:
#Check if "best" is NOT present in the following text:

txt = "The best things in life are free!"
print("best" not in txt)

False

### Slicing

In [ ]:
0:h
1:e
2:l
3:l
4:o
5:,

In [6]:
#Get the characters from position 2 to position 5 (not included):

b = "   Hello"
print(b[2:5])

 He

In [ ]:
b[7]

In [7]:

#Slice From the Start
#Get the characters from the start to position 5 (not included):b = "Hello, World!"
print(b[:5])

   He

In [8]:
#Slice To the End
#Get the characters from position 2, and all the way to the end:

b = "  Hello, World!"
print(b[2:])

Hello, World!

###  Case sensitive

In [9]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [10]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace

In [11]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Replace String

In [12]:
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("Hello", "hi"))

hi, World!

### Split String

In [13]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World! ddd fff  ffff"
print(a.split(" ")) # returns ['Hello', ' World!']

['Hello,', 'World!', 'ddd', 'fff', '', 'ffff']

### String Concatenation

In [14]:
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a  +b
print(c)

HelloWorld

In [15]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### String Format

In [16]:
#
age = 36
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [17]:
age = None
txt = "My name is John, and I am {}"
print(txt.format(40))

My name is John, and I am 40

In [18]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

### Python Booleans

In [19]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [20]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a