## Python Tuples

#### Tuples are used to store multiple items in a single variable.
#### A tuple is a collection which is ordered and unchangeable.
#### Tuples are written with round brackets.

In [20]:
thistuple = ("apple", "banana", "cherry", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'cherry')

### Unchangeable
#### Tuples are unchangeable, 
### meaning that we cannot change, 
#### add or remove items after the tuple has been created.

### Allow Duplicates
#Tuples allow duplicate values:

In [21]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [22]:
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

### Tuple Items - Data Types
#String, int and boolean data types:

In [23]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [24]:
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

In [25]:
#What is the data type of a tuple?

mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [26]:
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

### Aceess Tuple Items

In [27]:
#You can access tuple items by referring to the index number, inside square brackets:
thistuple = ("apple", "banana", "cherry")
print(thistuple[2])

cherry

In [28]:
#Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-2])

banana

In [29]:
#This example returns the items from "cherry" and to the end:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

### Change Tuple Values
#### Once a tuple is created, you cannot change its values. 
#### Tuples are unchangeable, or immutable as it also is called.

#### But there is a workaround. You can convert the tuple into a list, change the list, 
#### and convert the list back into a tuple.

In [30]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Add Items
#### Since tuples are immutable, they do not have a built-in append() method,
#### but there are other ways to add items to a tuple.

#### Convert into a list: Just like the workaround for changing a tuple, 
#### you can convert it into a list, add your item(s), and convert it back into a tuple.

In [31]:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

### Remove Items
#### Note: You cannot remove items in a tuple.

#### Tuples are unchangeable, so you cannot remove items from it,
#### but you can use the same workaround as we used for changing and adding tuple items:

In [32]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

#### The del keyword can delete the tuple completely:

In [33]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

### Join Two Tuples
#### To join two or more tuples you can use the + operator:

In [34]:

tuple1 =list(("a", "b" , "c"))
tuple2 = (1, 2, 3)

tuple1.extend(tuple2)

### Multiply Tuples
#### If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [35]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 5

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')